<head>
    <title>Asignar Horarios</title>
</head>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="py-5 container-horarios" id="empleados">
    <h1 class="mb-4 text-center fw-bold">Asignacion de Horarios</h1>
    <div class="row justify-content-center">
        <div class="col-lg-10 fondo-semi mx-auto">
            <form method="post">
                {% csrf_token %}

                <div class="table-responsive shadow rounded">
                    <table class="table table-hover align-middle mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th>Turno</th>
                                <th>Día</th>
                                <th>Hora Entrada</th>
                                <th>Hora Salida</th>
                                <th>Cantidad Personal</th>
                                <th>Seleccionar Empleados</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for horario in horarios %}
                            <tr>
                                <td>{{ horario.turno }}</td>
                                <td>{{ horario.dia }}</td>
                                <td>{{ horario.hora_entrada|time:"H:i" }}</td>
                                <td>{{ horario.hora_salida|time:"H:i" }}</td>
                                <td>{{ horario.cantidad_personal }}</td>
                                <td>
                                    {% for i in "x"|ljust:horario.cantidad_personal %}
                                    <select name="empleado_{{ horario.id }}_{{ forloop.counter }}"
                                        class="form-select mb-2">
                                        <option value="">Seleccione empleado</option>
                                        {% for empleado in empleados %}
                                        <option value="{{ empleado.id }}">{{ empleado.nombre }} {{ empleado.apellido }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-50 mt-4">Asignar Empleados</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}