<div class="max-w-md mx-auto">
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
            {{ form.errors }}
        </div>
        {% endif %}
        {% for field in form %}
        <div class="mb-4">
            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-300">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-red-500 text-sm mt-1">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="w-full bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700">Guardar Horario</button>
    </form>
</div>