{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<video class="video-bg" autoplay loop muted playsinline role="presentation">
    <source src="{% static 'videos/video-index1.mp4' %}" type="video/mp4">
    Tu navegador no soporta el video de fondo.
</video>
<div class="overlay-blanco"></div>
<main class="container py-3 pb-1" id="main">
    <div class="row justify-content-center pb-4">
        <div class="col-md-8 text-center">
            <img src="{% static 'images/logo-nuevas-energias-v2.png' %}" alt="Nuevas Energías"
                class="my-4 logo-index">
            <h1 class="mb-4">Bienvenido al Sistema de Gestión de Empleados</h1>
            <p class="lead mb-4">
                Administra fácilmente la información de tus empleados.<br>
                Puedes agregar, editar, eliminar y consultar los datos de tu personal desde un solo lugar.
            </p>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item"><i class="bi bi-check-circle-fill text-success me-2"></i>Registro y edición
                    de empleados</li>
                <li class="list-group-item"><i class="bi bi-check-circle-fill text-success me-2"></i>Búsqueda y
                    filtrado de personal</li>
                <li class="list-group-item"><i class="bi bi-check-circle-fill text-success me-2"></i>Eliminación segura
                    de registros</li>
                <li class="list-group-item"><i class="bi bi-check-circle-fill text-success me-2"></i>Visualización de
                    detalles y estadísticas</li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}